{% extends 'base.html.twig' %}

{% block main %}

    {% for message in messages %}

        <a href="{{ path('user_mailbox_message', {id: message.id})}}">{{ message.about }}</a>
        {% if message.isSeen %}
            <span style="color: green; float: right">Read</span>
        {% else %}
            <span style="color: red; float: right">Unread</span>
        {% endif %}
        <hr>

    {% endfor %}

{% endblock %}
