{% extends 'base.html.twig' %}

{% block main %}

    Total items: {{ result.getTotalItemCount }} <br>
    <br>
    {% for movie in result %}
        {{ movie.original_title }}<br>
        <img src="{{ loadImage(movie.poster_path) }}" alt="" width="200px" height="300px">
        <hr>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(result) }}
    </div>

{% endblock %}