{% extends 'base.html.twig' %}

{% block main %}
    <form action="{{ path('search_action') }}" method="post">
        <div class="form-group">
            <label class="col-sm-4 control-label" for="search">Search for movie</label>
            <div class="col-sm-4 ">
                <input class="form-control" id="search" placeholder="Search" name="search[input]" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>


{% endblock %}